<div class="control-group">
  <div class="controls">
    <h4 style="color: #444;margin-left: 160px;">Adding a new question</h4>
  </div>
</div>
<br/>

<%= render :partial => 'form', :locals => { :form_action_title => 'New' } %>