
defaults: &defaults

development:
  mail_from: amol.testing123
  mail_from_password:
  exception_notifiers: amolp@gslab.com

test:
  mail_from: amol.testing123
  mail_from_password:
  exception_notifiers: amolp@gslab.com

production:
  mail_from: amol.testing123
  mail_from_password:
  exception_notifiers: amolp@gslab.com

